* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.max_width {
    max-width: 1920px;
    margin: auto;
}

html,
body {
    min-height: 100%;
}

/* header */
#header_main {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-inline: 140px;
    height: 128px;
    width: 100%;
    background-color: #09212A;
}

#header_logo {
    height: 40px;
    width: 215px;
}


/* header end */

/* main content */
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Figtree";
    font-size: 56px;
    font-weight: 800;
    padding-bottom: 80px;
}

h2 {
    color: white;
    font-family: "Figtree";
    font-size: 24px;
    font-weight: 700;
}


#main_content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-inline: 140px;
    padding-block: 160px;
    background-color: #06171E;
}

#main_images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
}

#main_images img {
    border: #09212A;
    border-radius: 10px;
    height: 320px;
    width: 320px;
    object-fit: cover;
}

#main_images img:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
}

/* dialog start */
dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

#dialog_header {
    display: flex;
    justify-content: space-between;
    padding: 48px;
}

#close_btn {
    background: transparent;
    border: none;
}

#close_btn:hover {
    cursor: pointer;
}

#dialog_main {
    background-color: #09212A;
    border-radius: 20px;
}

#image_container {
    width: 100%;
    height: 420px;
    padding-inline: 48px;
}

#image_container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#dialog_footer {
    display: flex;
    justify-content: center;
    padding-block: 32px;
    gap: 40px;
}

#counter {
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.nav_btn {
    background: transparent;
    border: none;
    height: 65px;
    width: 65px;
}

.nav_btn:hover {
    cursor: pointer;
}

/* dialog end */

/* main content end */

/* footer */
#footer_main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 140px;
    height: 128px;
    background-color: #09212A;
}

.shape {
    border-start-start-radius: 30%;
    border-start-end-radius: 30%;
}

/* footer end */

/* responsive */

@media (max-width: 830px) {

    #header_main {
        padding-inline: 70px;
    }

    h1 {
        padding-bottom: 40px;
    }

    #main_content {
        padding-inline: 70px;
        padding-block: 80px;
    }

    #dialog_header {
        padding: 32px;
    }

    #image_container {
        padding-inline: 32px;
    }

    #dialog_footer {
        padding-block: 32px;
        gap: 20px;
    }

    .nav_btn img {
        height: 33px;
        width: 33px;
    }

    #footer_main {
        padding-inline: 70px;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 18px;
    }

    dialog {
        width: 100%;
    }

    #main_images img {
        height: 180px;
        width: 180px;
    }

    #image_container {
        height: 300px;
        padding-inline: 24px;
    }

    #dialog_header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 64px;
        padding: 24px;
        gap: 10px;
    }

    #dialog_footer {
        padding: 0;
    }
}